<h1>Login</h1>

<form action="" method="POST">
    <input type="username" name="username" placeholder="Enter username" id="" required>
    <br><br>
    <input type="password" name="password" id="" required>
    <br><br>
    <input type="submit" value="Login">
</form>