

html{
  scroll-behavior: smooth;
}
.headin{
  font-family: 'Merienda', cursive;
}
body{
  height: 100%;
  padding: 0;
  margin: auto;
}
#content{
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  display: flex;
  
}
.subscribe-form .form-control {
  background: #4897fc; }

.cursor-pointer{
  cursor: pointer;
}
#chat-container{
  height: 557px;
  overflow-y: scroll;
  background-color: #ecf6ff;
  width: 100%;
}
.welcome-user{
  padding: 0 5px;
}

#chat-form{
  background: #ecf6ff;
}
.border {
  margin: 0 10px 0 0;
  width: 100%;
  padding: 8px;
  font-size: 17px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgba(66,66,66,.36);
}
.border:focus {
  outline:none;
}
.chat-section{
  display: none;
}
.online-status{
  color: green;
}
.offline-status{
  color: red;
}

.distance-user-chat{
  display: flex;
  color: #000000;
  width: 100%;
  align-items: left;
}
.distance-user-chat .u-chat{
  max-width: 40%;
  border-radius: 20px;
  text-align: left;
  background-color: rgb(204, 201, 201);
  margin: 10px auto 5px 5px;
  padding: 10px;
  width: auto;
} 

.current-user-chat{
  display: flex;
  color: #ffffff;
  width: 100%;
  align-items: right;
}
.current-user-chat .u-chat{
  align-items: right;
  max-width: 40%;
  border-radius: 20px;
  text-align: left;
  background-color: dodgerblue;
  margin: 10px 5px 5px auto;
  padding: 10px;
  width: auto;
} 

.u-chat p{
  margin: 5px;
}
.timet{
  display: flex;
}
.timet i{
  color: #ffffffa7;
  margin: 0 0 0 auto;
  font-size: 11px;
}

.distance-user-chat i{
  color: rgba(0, 0, 0, 0.711);
}


#sidebar{
  height: 70px;
}


.chat-form-input-btn{
  display: flex;
  justify-content: space-between;
}

#sidebar{
  text-decoration: none;
  font-family: sans-serif;
  justify-content: space-between;
  display: flex;
  background-color: dodgerblue;
}

.headin h1{
  color: white;
  padding: 5px;
  
}
.headin h1 a{
  text-decoration: none;
}
.headin h1 a:visited{
  
  color: white;

}
.fa-sign-out{
  color: white;
}
.fa-sign-out:visited{
  text-decoration: none;
  color: white;

}
.lgout-btn{
  color: white;
  font-size: 30px;
  padding: 15px;
  margin: auto;

}
.start-head{
  color: #00000091;
  margin: 35% 50% auto auto;
  width: 100px;
  height: 50px;
  text-align: center;
  width: 100%;

}
.welcome-user{
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  font-family: 'Lumanosimo', cursive;
  
}

.col-md-3{
  height: 665px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  width: 25%;
}
.col-md-9{
  height: 550px;
  width: 75%;
}




.btn {
  margin: 0 10px 0 auto;
  cursor: pointer;
  border: none;
  background: dodgerblue;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.list-group{
  padding-left: -40px;
  margin: auto 5px;
  list-style-type: none;
  flex: 1;
  overflow-y: auto;
}
.list-group-item{
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  

  border-radius: 10PX;
  background-color: #eaf0f3;
  padding: 10px;
  margin: 10px 5px;
  justify-content: space-between;
  display: flex;
}
.list-group-item p{
  
  text-align: left;
}
.profile-img{
  margin: auto;
  border-radius: 50%;
}
.profile-name{
  display: flex;
}
.profile-name p{
  margin-left: 5px;
}
.mb-4{
  padding: 5px 10px;
}
#distance-user-name{
  
  padding: 10px;
  font-size: 20px;
}
.receiver-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#chat-section-rec{
  padding: 12px;
  display: flex;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .list-group {
    scrollbar-width: auto;
    scrollbar-color: gray #ffffff;
  }
  #chat-container{
    scrollbar-width: auto;
    scrollbar-color: gray #c4d4e2;

  }

  /* Chrome, Edge, and Safari */
  .list-group::-webkit-scrollbar {
    width: 8px;
  }
  #chat-container::-webkit-scrollbar {
    width: 8px;
  }

  .list-group::-webkit-scrollbar-track {
    background: #ffffff;
  }
  #chat-container::-webkit-scrollbar-track {
    background: #c4d4e2;
  }

  .list-group::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  #chat-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: 2px solid #c4d4e2;
  }

  .c-part{
    margin: auto;
    text-align: center;padding: 5px;
  }
  .credits{
    box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.75);
    height: 40px;
    display: flex;
    width: 100%;
    
  }